body
{
    font-family:"raleway" , sans-serif; 
    width: fit-content;
}
/* HEADER */
header
{
    width: 1335px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 50px;
}
.lien_navigation_logo
{
    width: fit-content;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.herbergement_activité_lien
{
    width: 300px;
    display: flex;
    margin-right: 10px;
    align-items: center;
    margin-left: 830px;
}
.logo
{
    font-size: x-large ;
} 
.flexbetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.taillelien:hover
{
    border-top: 3px solid #0065FC;
}
.taillelien
{
    width: 50%; 
    height: 70px;
    display: flex;
    align-items:center;       
}
.lien:hover
{
    border-top: 3px solid #0065FC;
}
.lien
{
    width: 50%;
    height: 70px;
    display: flex;
    align-items: center;
}
.hover_bleu_border
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: black;
}
.couleurbleu1
{
    color:#0065FC;
    font-weight: bold;
    padding-left: 5px;
}
.hover_bleu_border:hover
{
    color: #0065FC;
}
.decorationnone
{
    text-decoration: none;
}
.flexcentré
{
    display: flex;
    text-align: start;
}
.titre_principale_phrase
{
    width: 1345px;
    margin-left: 50px;
}
.titreh2
{
    margin-bottom: 1px;
}
.phrasedessoustitreh2
{
    margin-top: 3px;
    margin-bottom: 20px;
}
.barrederecherche
{
    height: 51px;
    margin-left: 50px;
    display: flex;
    margin-bottom:30px;
}
.fa-map-marker-alt
{
    width: 51px;
    background-color:#F2F2F2  ;
    border-radius: 20px 0px 0px 20px;
    justify-content: center; 
    text-align: center;
    padding-top: 15px;
}
.champ-recherche 
{
    height: 51px;
    width: 225px;
    border-top:  1px solid  #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 10px solid white;
    border-right: 2px solid white;
}
::-webkit-input-placeholder
{
   font-weight:bold  ;
   color: black;
   font-size: medium;
}
.btn-recherche:hover
{
    background-color: darkblue;
}
.btn_loupe
{
    display: none;
}
.btn-recherche
{
    width: 138px;
    background-color: #0065FC ;
    color: white;
    border-radius: 0px 20px 20px 0px;
    font-size:large;
    border: none;
}
        /* FILTRE */
.recherchefiltreicon:hover
{
    background-color: #F2F2F2;
}
.recherchefiltre
{
    width: 1345px;
    height: 51px;
    display: flex;
    align-items: flex-start;
    margin-left: 50px;
}
.recherchefiltretitre
{
    height: 51px;
    font-size: medium;
    font-weight: bold;
    color: black;
    margin-right: 30px;
    margin-left: 10px;
    padding-top: 15px;
}
.recherchefiltreicon
{  
    border-radius: 40px 40px 40px 40px;
    border:  3px solid #F2F2F2;
    border-left: none;
    margin-right: 23px;
    border-left: none;
}  
.filtre_eco_famil
{
    display: flex;
}   
.recherchefiltresfiltretitre
{   
    height:51px ;
    color: black;
    font-weight: bold;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px 40px 40px 0px;
    margin-right: 15px;
    font-size: medium;
}
.iconfiltre
{   
    border: 15px solid   #DEEBFF;
    border-radius: 25px 25px 25px 25px;
    color:#0065FC;
    background-color:#DEEBFF;
}
.resultatrecherche
{
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 40px;
    padding-left: 10px;
}
.resultaticon
{
   margin-right:10px;
}
.taillefa-info
{
    width: 23px;
    height: 23px; border: 2px solid #F2F2F2 ;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}
.fa-info
{
    width: auto;
    color:#0065FC;
    height: auto;
    font-size: small;
}
/* HEBERGEMENT A MARSEILLE ET PLUS POPULAIRE */
.hebergement_marseille
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hebergement_titre
{
    font-size: large;
}
.imghebergement
{
    width: 234px;
    height: 114px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.cartehebergement
{   
    border-radius:20px 20px 20px 20px; 
    border: 5px solid white;
    background-color: white;
    width: 234px;
    height: 201px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
}
.bordure_hebergement
{
    width: 881px;
    height: 627px;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
}
.hebergementcarteprix
{
    color: black;
    font-weight: bold;
}
.hebergementprix
{
    color: black;
    line-height: 3px;
    font-size: small;
}
.icone_etoile_populaire
{
    line-height: 0.5em;
}
.iconetoile
{
    color:#0065FC ;
    line-height: 40px;
    font-size: small;
}
.icone_etoile_Empty
{
    color:#F2F2F2;
}
.hebergementcartetitre
{
     line-height: 1px;
     font-weight: bold;
     color: black;
}
a
{
    text-decoration: none;
}
.titre_hebergement
{
    padding-top: 10px;
}
.titrehebergement
{
    width: 881px;
    height: 70px;
    padding-bottom: 15px;
    padding-left: 45px;
    font-size: large;
}
.afficherplusherbergement
{   display: flex;
    align-items: flex-start;
    width: 800px;
    color: black;
    font-weight: bolder;
}
.herbergementpopulaireimgimg
{
    width: 130px;
    height: 135px;
    border-radius: 20px 0px 0px 20px;
    margin-right: 20px; 
    object-fit: cover;
}
.hébergementPopulaire
{   flex-direction: column;
    width:420px;
    height: 627px;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px; 
}
.hebergement_hebergementpopulaire
{
    display: flex;
    width: 1338px;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-top: 40px;
    margin-left: 50px;
}
.hebergementcartepopulaire
{
   display: flex;
   width: 343px;
   height: 135px;
   border: 5px solid white;
   border-radius: 20px 20px 20px 20px;
   background-color: white;
}
.hebergementcartetitre1
{
    color: black;
}
.hebergement_populaire_titre_icon
{
    display: flex;
    width: 343px;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}
.fa-line-chart
{
    align-items: flex-end;
    font-size: x-large;
}
.hebergement_populaire
{
    width: 420px;
    height: 627px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.vieuxport
{
    height: 392px;
    width: 303px;
    object-fit: cover;
}
.fort
{
    height: 180px;
    width: 303px;
    object-fit: cover;
}
.ile_frioul
{
    height: 109px;
    width: 303px;
    object-fit: cover;
}
.parc
{
    height: 392px;
    width: 303px;
    object-fit: cover;
}
.notredame
{
    height: 140px;
    width: 303px;
    object-fit: cover;
}
.longchamp
{
    width: 303px;
    height: 156px;
    object-fit: cover;
}
/* ACTIVITE A MARSEILLE */
.titreactivité
{
    margin-left: 50px;
    font-size: 1.3em;
    font-weight: bolder;
}
.activité
{
    width: 1338px;
    height: 448px;
    display: flex;
    justify-content: space-between; 
    margin-left: 50px;
}
.activitécarteimage_vieux_parc
{
    height: 448px;
    width: 303px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #F2F2F2 ;
}
.activitécarteimage_fort
{
    height: 237px;
    width: 303px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #F2F2F2 ;
}
.activitéimage{
   border-radius: 20px 20px 0px 0px ;
}
.bloc_fort_ile
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bloc_notredame_longchamp
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activitécarteimage_ile
{
    height: 165px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #F2F2F2 ;
}
.activitécarteimage_longchamp
{
    height: 212px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #F2F2F2 ;
}
.activitécarteimage_notre_dame
{
    height: 195px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #F2F2F2 ;
}
.carteimage_vieux_parc
{
    border-radius: 20px;
    box-shadow: 5px 5px 10px #F2F2F2 ;
}
.activitécartetitre
{
    color: black;
}
/* FOOTER */
.footer
{
    display: flex;
    width: 1030px;
    justify-content: space-between;
    padding-left: 45px;
}
.footerliencolonne
{
    display: flex;
    flex-direction: column;  
}
.footercolonetitre
{
    font-weight: bolder;
    color: black;
    margin-bottom: 35px;
}
.lien_footer
{
    color: black;
    margin-bottom: 10px;
}
.bordure_footer
{
    width: 1440px;
    height: 217px;
    background-color: #F2F2F2;
    margin-top: 63px;
    padding-top: 30px;
}
.footercoloneliencolone
{
    color: black;
    padding-bottom: 15px;
}
@media screen and (min-width:1440px)
{
    body
    {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
    
}
@media screen and (max-width:1100px) and (min-width: 640px)
{
    /* HEADER*/
    header
    {
        width: auto;
    }
    nav
    {
        width: 100%;
    }
    .logo
    {
        height: 60px;
        margin-right: 800px;
    }
    .lien_navigation_logo
    {
        font-size: 1.3em;
        justify-content: flex-end;
    }
    .herbergement_activité_lien
    {
        margin-left: 2px;
    }
    .titre_principale_phrase
    {
        font-size: larger;
    }
            /* FILTRE */
    .recherchefiltre
    {
        font-size: x-large;
        height: auto;
    }
    .recherchefiltretitre
    {
        font-size: smaller;
    }
    .recherchefiltresfiltretitre
    {
        font-size: smaller;
    }
    .resultatrecherche
    {
        font-size: larger;
    }
    /* HEBERGEMENT A MARSEILLE ET POPULAIRE */
    .hebergement_hebergementpopulaire
    {
        flex-direction: column-reverse;
    }
    .hébergementPopulaire
    {
        width: auto; 
    }
    .hebergement_populaire
    {
        flex-direction: row;
        flex-wrap: wrap-reverse;
        width: auto;
    }
    .hebergement_populaire_titre_icon
    {
        order: 1;
        padding-top: 15px;
    }
    .hebergementcartepopulaire
    {
        flex-direction: column;
        height: 80%;
        width: 400px;
        margin-bottom: 20px;
    }
    .herbergementpopulaireimgimg
    {
        width: 100%;
        height: 300px;
        border-radius: 20px 20px 0px 0px;
    }
    .hover_cliquable
    {
        font-size: x-large;
    }
    .hebergementprix
    {
        font-size: x-large;
    }
    .hebergement_prix
    {
        font-size: x-large;
        line-height: 2;
    }
    .iconetoile
    {
        font-size: medium;
    }
    .hebergementcartetitre
    {
        margin-top: 45px;
        font-size: x-large;
    }
    .hebergement_titre
    {
        font-size: x-large;
    }
    .fa-line-chart
    {
        font-size: xx-large;
    }
    .bordure_hebergement
    {
        height: auto;
        width: auto;
        margin-top: 30px;
    }
    .titrehebergement
    {
        width: 100%;
        font-size: x-large;
    }
    .cartehebergement
    {
        width: 400px;
        height: 500px;
    }
    .imghebergement
    {
        width: 100%;
        height: 60%;
    }
    .titre_hebergement
    {
        padding-left: 445px;
        padding-top: 0px;
    }
    .afficherplusherbergement
    {
        padding-left: 650px;
        font-size: x-large;
        height: 40px;
    }
    /* ACTIVITE */
    .activité
    {
        width:auto;
        height:800px;
        flex-wrap: wrap;
        display: flex;
        justify-content: flex-start; 
    }
    .titreactivité
    {
        font-size: 1.7rem;
    }
    .activitécartetitre
    {
        font-size: x-large;
    }
    .activitécarteimage
    {
        width: 425px;
        height:350px;
        margin-right: 30px;
    }
    .bloc_fort_ile
    {
        display: flex;
        flex-direction: row;
    }
    .bloc_notredame_longchamp
    {
        display: flex;
        flex-direction: row;
    }
    .activitéimage
    {
        height: 70%;
        width: 100%;
    }
    /* FOOTER*/
    .bordure_footer
    {
        height: 300px;
        margin-top: 30px;
    }
    .footer
    {
        justify-content: space-around;
        padding-left: 0px;
        width: auto;
    }
    .footercolonetitre
    {
        font-size: xx-large;
    }
    .lien_footer
    {
        font-size: x-large;
    }
}
@media screen and (max-width:640px)
{
            /* HEADER */
    header
    {
        width: 100%; 
        height: 132px;
        margin-left: 0px;
    }
    nav
    {
        width: 100%;
    }
    .logo
    {
        margin-right: 0px;
    }
    .lien_navigation_logo
    {
        width: 100%;
        flex-wrap: wrap;
    }
    .herbergement_activité_lien
    {
        width:100%;
        order: 1;
        align-items: center;
        margin: 0px;
        margin-top: 25px;
    }  
    .taillelien:hover
    {
        border-bottom: 3px solid #0065FC;
        font-weight: bold;
        border-top: none;
    }
    .taillelien
    {
        width: 50%;
        height: 30px;
        padding-bottom: 10px;
        border-bottom: 3px solid #f2f2f2;
    }
    .lien:hover
    {
        border-bottom: 3px solid #0065FC;
        font-weight: bold;
        border-top: none;
    }
    .lien
    {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding-bottom: 10px;
        border-bottom: 3px solid #f2f2f2;
    }
    .titre_principale_phrase
    {
        width: auto;
        margin-left: 0px;
    }
    .barrederecherche
    {
        margin-left: 0px;
    }
    .champ-recherche 
    {
        width: 231px;
    }
    .btn-recherche
    {
        display: none;
    }
    .btn_loupe
    {
        width: 51px;
        display: block;
        background-color: #0065FC;
        border-radius: 25%;
        border: none;
    }
    .fa-search
    {
        color: white;
    }
            /* FILTRE */
    .recherchefiltre
    {
        flex-direction: column;
        height: auto;
        width: auto;
        margin-left: 0px;
   
    }
    .recherchefiltreicon
    {
        margin-bottom: 10px;
    }
    .resultatrecherche
    {
        margin-left: 0px;
    }
            /* HEBERGEMENT A MARSEILLE ET PLUS POPULAIRE */
    .hebergement_hebergementpopulaire
    {
       flex-direction: column-reverse;
       width: auto;
       margin-left: 0px;
    }
    .hover_cliquable
    {
        width: 95%;
    }
    .hebergementcartepopulaire
    {
        width: 95%;  
    }
    .hébergementPopulaire
    {
    flex-direction: column;
    width: auto;
    height: 583px;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px; 
    padding-left: 25px;
    }
    .hebergement_populaire
    {
    width: 95%;
    height: 583px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    }
    .herbergementpopulaireimgimg
    {
    width: 202px;
    height: 135px;
    }
    .bordure_hebergement
    {
    width: auto;
    height: auto;
    margin-top: 20px;
    }
    .cartehebergement
    {
    width: 98%;
    height:auto;
    display: flex;
    flex-direction: column;
    }
    .imghebergement
    {
    width: -webkit-fill-available;
    }
    .titrehebergement
    {
    width: auto;
    padding-left: 0px;
    }
    .afficherplusherbergement
    {
    width: auto;
    height: 40px;
    }
    .recherchefiltretitre
    {
    height: auto;
    }
        /* ACTIVITE A MARSEILLE */
    .activité
    {
    width: auto;
    height: auto;
    flex-direction: column;
    margin-left: 0px;
    }
    .titreactivité
    {
    margin-left: 0px;
    }
    .activitéimage
    {
    width: 100%;
    height: 150px;
    }
    .carteimage_vieux_parc
    {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    }
    .activitécarteimage_fort
    {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    }
    .activitécarteimage_vieux_parc
    {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    }
    .bloc_fort_ile
    {
    height: auto;
    }
    .activitécarteimage_ile
    {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    }
    .activitécarteimage_notre_dame
    {
    height: auto;
    margin-bottom: 30px;
    }
    .activitécarteimage_longchamp
    {
    height: auto;
    }
        /* FOOTER */
    .bordure_footer
    {
    width: 100%;
    height: auto;
    padding-top: 20px;
    }
    .footer
    {
    flex-direction: column;
    padding-left: 0px;
    width: auto;
    align-items: flex-start;
   
    }
    .footerliencolonne
    {
    align-items: flex-start;
    margin-left: 50px;
    }
    .lien_footer
    {
    color: black;
    margin-bottom: 10px;
    }
}
@media screen and (max-width:555px)
{
    .herbergementpopulaireimgimg
    {
        width: 120px;
    }
    .hebergement_populaire_titre_icon 
    {
        width: 250px;
    }
    .imghebergement
    {
        width: 100%;
    }
    .cartehebergement
    {
        flex-direction: column;
    }
    .recherchefiltresfiltretitre
    {
        font-size: 0.9rem;
        margin-left: 0px;
        padding-left: 0px;
    }
}
@media screen and (max-width:375px)
{
            /* HEADER */
    header
    {
        width: 100%; 
        height: 132px;
        margin-left: 0px;
    }
    .lien_navigation_logo
    {
        width: 100%;
        flex-wrap: wrap;
    }
    .herbergement_activité_lien
    {
        width:100%;
        order: 1;
        align-items: center;
        margin: 0px;
        margin-top: 25px;
    }  
    .taillelien:hover
    {
        border-bottom: 3px solid #0065FC;
        font-weight: bold;
        border-top: none;
    }
    .taillelien
    {
        width: 50%;
        height: 30px;
        padding-bottom: 10px;
        border-bottom: 3px solid #f2f2f2;
    }
    .lien:hover
    {
        border-bottom: 3px solid #0065FC;
        font-weight: bold;
        border-top: none;
    }
    .lien
    {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding-bottom: 10px;
        border-bottom: 3px solid #f2f2f2;
    }
    .titre_principale_phrase
    {
        margin-left: 10px;
       font-size: larger;
    }
    .titreh2
    {
        font-size: larger;
       
       color: rgb(59, 59, 59);
    }
    .phrasedessoustitreh2
    {
        margin-top: 10px;
        font-size: 0.9rem;
    }
    .champ-recherche 
    {
        width: 231px;
    }
    .btn-recherche
    {
        display: none;
    }
    .btn_loupe
    {
        width: 51px;
        display: block;
        background-color: #0065FC;
        border-radius: 25%;
        border: none;
    }
    .fa-search
    {
        color: white;
    }
            /* FILTRES */
    .recherchefiltre
    {
        margin-left: 20px;
    }
    .recherchefiltreicon
    {
        margin-right: 15px;
        margin-bottom: 13px;
    }
    .recherchefiltretitre
    {
        margin-bottom: 10px;
    }
    .filtre_eco_famil
    {
        display: flex;
    }
    .recherchefiltresfiltretitre
    {
        margin-right: 15px;
        margin-left: 10px;
        font-size: small;
        font-weight: bolder;
        color: black
    }
    .taillefa-info
    {
        width: 27px;
        height: 21px;
        border: 2px solid #F2F2F2;
        border-radius: 50%;
        text-align: center;
        margin-right: 10px;
    }
    .barrederecherche
    {
        margin-left: 10px;
    }
    .resultatrecherche
    { 
        display: flex;
        align-items: baseline;
        margin-top: 40px;
        padding-left: 0px;
        margin-left: 20px;
    }
            /* HEBERGEMENT A MARSEILLE ET PLUS POPULAIRE */
    .hebergement_hebergementpopulaire
    {
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .hebergement_populaire
    {
        width: 100%;
    }
    .hébergementPopulaire
    {
        padding-left: 0px;
        width: 100%;
        border-radius: 0px;
    }
    .hebergement_populaire_titre_icon
    {
        width: 310px; 
    }
    .hover_cliquable
    {
        width: 90%;
    }
    .hebergementcartepopulaire
    {
        width: 95%;

    }
    .hebergementcartetitre1
    {
        font-size: 0.9rem;
    }
    .bordure_hebergement 
    {
        background-color: white;
    }
    .hebergement_marseille
    {
        justify-content: flex-start;
    }
    .titrehebergement
    {
        height: 50px;
        font-size: medium;
        padding-left: 10px;  
    }
    .titre_hebergement
    {
        padding: 0px;
    }
    .cartehebergement
    {
        width: 90%;
        height: 200px;
        border: 5px solid white;
        background-color: white;
        box-shadow: 0px 0px 8px 2px #f2f2f2;
        flex-direction: column;
        margin-left: 10px;
    }
    .imghebergement
    {
        width: 100%;
    }
    .hebergementcartetitre
    {
        font-size: 0.9rem;
    }
    .afficherplusherbergement
    {
        padding-left: 10px;
    }
            /* ACTIVITE A MARSEILLE */
    .activité
    {
        margin-left: 0px;
    }
    .titreactivité
    {
        margin-left: 0px;
    }
    .activitéimage
    {
        width: 100%;
        height: 135px;
    }
    .activitécarteimage_vieux_parc
    {
        height: 191px;
        margin-bottom: 30px;
    }
    .activitécarteimage_fort
    {
        height: 191px;
        margin-bottom: 30px;
    }
    .activitécarteimage_ile
    {
        height: 191px;
        margin-bottom: 30px; 
    }
    .activitécarteimage_notre_dame
    {
        height: 191px;
        margin-bottom: 30px;
    }
    .activitécarteimage_longchamp
    {
        height: 191px;
        margin-bottom: 30px;
    }
            /* FOOTER */
    .footer
    {
        align-items: flex-start; 
    }
    .footerliencolonne
    {
        align-items: flex-start;
    }
    .lien_footer
    {
        color: black;
        margin-bottom: 15px;
        font-size: smaller;
    }
    .bordure_footer
    {
        width: 100%;
        margin-top: 25px;
    }
    .footercolonetitre
    {
        font-size: medium;
        margin-top: 40px;
        margin-bottom: 35px;
    } 
}
@media screen and (max-width:360px)
{
    .champ-recherche
    {
        border-left-width: thin;
        width: auto;
    }
    .recherchefiltreicon
    {
        width: max-content;
    }
    .hebergementcartepopulaire
    {
        flex-direction: column;
        height: auto;
    }
    .herbergementpopulaireimgimg
    {
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        margin: 0px;
    }
    .hebergement_populaire
    {
        height: 1000px;
    }
    .hébergementPopulaire
    {
        height: auto;
    }
    .hebergement_populaire_titre_icon 
    {
        width: auto;
    }
}