body
{
    font-family: 'Raleway', sans-serif; 
}

header
{
    width: 1335px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   
}
.lien_navigation_logo
{
    width: 1335px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo{
    font-size: x-large ;

} 


.flexbetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taillelien
{
    width: 38%; 
    height: 70px;
    display: flex;
    align-items:center;     
    justify-content: space-evenly;
    
}
.couleurbleu1
{
    color:#0065FC;
    font-weight: bold;
}
.hover_bleu_border:hover
{
    color: #0065FC;
}

.decorationnone
{
    text-decoration: none;
}
.flexcentré
{
    display: flex;
    text-align: start;
}
.titre_principale_phrase
{
    width: 1345px;
}
.titreh2
{
    
    margin-bottom: 3.92;
    margin-bottom: 1px;


}
.phrasedessoustitreh2
{
    margin-top: 3px;
    margin-bottom: 20px;
}

.barrederecherche
{
    height: 51px;
    width: 1335px;
    display: flex;
    margin-bottom:30px;
}
.fa-map-marker-alt
{
    width: 51px;
    background-color:#F2F2F2  ;
    border-radius: 20px 0px 0px 20px;
    justify-content: center; 
    text-align: center;
    padding-top: 15px;
}
.champ-recherche 
{
    height: 51px;
    width: 225px;
    border-top:  1px solid  #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 10px solid white;
    border-right: 2px solid white;
}
::-webkit-input-placeholder
{
   font-weight:bold  ;
   color: black;
   font-size: medium;
}
.btn-recherche:hover
{
    background-color: darkblue;
}
.btn-recherche
{
    width: 138px;
    background-color: #0065FC ;
    color: white;
    border-radius: 0px 20px 20px 0px;
    font-size:large;
    border: none;

}
.recherchefiltreicon:hover
{
    background-color: #F2F2F2;
}
.recherchefiltre
{
    width: 1345px;
    height: 51px;
    display: flex;
    align-items: flex-start;
}
.recherchefiltretitre
{
    height: 51px;
    font-size: medium;
    font-weight: bold;
    color: black;
    margin-right: 30px;
    margin-left: 10px;
    padding-top: 15px;
}
.recherchefiltreicon
{  
    border-radius: 40px 40px 40px 40px;
    border:  3px solid #F2F2F2;
    border-left: none;
    margin-right: 23px;
    border-left: none;
}  
   
.recherchefiltresfiltretitre
{   
    height:51px ;
    color: black;
    font-weight: bold;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px 40px 40px 0px;
    margin-right: 15px;
    font-size: medium;
}
.iconfiltre
{   
    border: 15px solid   #DEEBFF;
    border-radius: 25px 25px 25px 25px;
    color:#0065FC;
    background-color:#DEEBFF;
}
.resultatrecherche
{
    display: flex;
    align-items: center;
    width: 1340px;
    margin-top: 40px;
    padding-left: 10px;
}
.resultaticon
{
   margin-right:10px;
 
}
.taillefa-info
{
    width: 23px;
    height: 23px; border: 2px solid #F2F2F2 ;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}
.fa-info
{
    width: auto;
    color:#0065FC;
    height: auto;
    font-size: small;
}
.hebergement_marseille
{
    width: px;
    height: px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hebergement_titre
{
    font-size: large;
}
.imghebergement
{
    width: 234px;
    height: 114px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.cartehebergement
{   
    border-radius:20px 20px 20px 20px; 
    border: 5px solid white;
    background-color: white;
    width: 234px;
    height: 201px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
}

.bordure_hebergement
{
    
    width: 881px;
    height: 627px;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
}
.hebergementcarteprix
{
    color: black;
    font-weight: bold;
}
.hebergementprix
{
    color: black;
    line-height: 3px;
    font-size: small;
}
.icone_etoile_populaire
{
    line-height: 0.5em;
}
.iconetoile
{
    color:#0065FC ;
    line-height: 40px;
    font-size: small;
}
.icone_etoile_Empty
{
    color:#F2F2F2;
}
.hebergementcartetitre
{
     line-height: 1px;
     font-weight: bold;
     color: black;
}
a{
    text-decoration: none;
}
.titre_hebergement
{
    padding-top: 10px;
}
.titrehebergement
{
    width: 881px;
    height: 70px;
    padding-bottom: 15px;
    padding-left: 45px;
    font-size: large;
}
.afficherplusherbergement
{   display: flex;
    align-items: flex-start;
    width: 800px;
    color: black;
    font-weight: bold;
}

.herbergementpopulaireimgimg
{
    width: 130px;
    height: 135px;
    border-radius: 20px 0px 0px 20px;
    margin-right: 20px; 
    object-fit: cover;
}
.hébergementPopulaire
{   flex-direction: column;
    width:420px;
    height: 627px;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px; 
}
.hebergement_hebergementpopulaire
{
    display: flex;
    width: 1338px;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-top: 40px;
}
.hebergementcartepopulaire
{
   display: flex;
   width: 343px;
   height: 135px;
   border: 5px solid white;
   border-radius: 20px 20px 20px 20px;
   background-color: white;
}
.hebergementcartetitre1
{
    color: black;
}
.hebergement_populaire_titre_icon
{
    display: flex;
    width: 343px;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.hover_cliquable:hover
{
    font-size: 120%;
}
.fa-line-chart
{
    align-items: flex-end;
    font-size: x-large;
    
}
.hebergement_populaire
{
    width: 420px;
    height: 627px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

}
.vieuxport
{
    height: 392px;
    width: 303px;
    object-fit: cover;
}
.fort
{
    height: 180px;
    width: 303px;
    object-fit: cover;
}
.ile_frioul
{
    height: 109px;
    width: 303px;
    object-fit: cover;
}
.parc
{
    height: 392px;
    width: 303px;
    object-fit: cover;
}
.notredame
{
    height: 140px;
    width: 303px;
    object-fit: cover;
}
.longchamp
{
    width: 303px;
    height: 156px;
    object-fit: cover;
}
.activité
{
    width: 1338px;
    height: 448px;
    display: flex;
    justify-content: space-between; 
}
.activitécarteimage_vieux_parc
{
    height: 448px;
    width: 303px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #F2F2F2 ;
}
.activitécarteimage_fort
{
    height: 237px;
    width: 303px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #F2F2F2 ;
}
.activitéimage{
   border-radius: 20px 20px 0px 0px ;
}
.bloc_fort_ile
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bloc_notredame_longchamp
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activitécarteimage_ile
{
    height: 165px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #F2F2F2 ;

}
.activitécarteimage_longchamp
{
    height: 212px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #F2F2F2 ;
}
.activitécarteimage_notre_dame
{
    height: 195px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #F2F2F2 ;
}
.carteimage_vieux_parc
{
    border-radius: 20px;
    box-shadow: 5px 5px 10px #F2F2F2 ;
}
.activitécartetitre
{
    color: black;
}
.footer
{
    display: flex;
    width: 1030px;
    justify-content: space-between;
    padding-left: 45px;
}
.footerliencolonne
{
    display: flex;
    flex-direction: column;  
}
.footercolonetitre
{
    font-weight: bold;
    color: black;
}
.bordure_footer
{
    width: 1440px;
    height: 217px;
    background-color: #F2F2F2;
    margin-top: 63px;
}
.footercoloneliencolone
{
    color: black;
    padding-bottom: 15px;
}
.titreactivité
{
    width: 1345px;
}
@media screen and (max-width:640px)
{
    .hebergement_hebergementpopulaire
    {
       flex-direction: column-reverse;
       width: auto;
    }
    .hebergementcartepopulaire
    {
        width: 98%;
       
    }
    .hébergementPopulaire
    {
    flex-direction: column;
    width: auto;
    height: 583px;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px; 
    padding-left: 25px;
}
    .hebergement_populaire
    {
    width: 95%;
    height: 583px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    }
    
.herbergementpopulaireimgimg
{
    width: 202px;
    height: 135px;
}
.recherchefiltre
{
    width: auto;
    height: auto;
    flex-wrap: wrap;
}
.titre_principale_phrase
{
    width: auto;
}
.lien_navigation_logo
{
    width: auto;
}
.bordure_hebergement
{
    width: auto;
    height: auto;
    margin-top: 20px;
}
.cartehebergement
{
    width: 98%;
    height:auto;
    display: flex;
}
.hover_cliquable
{

}
.imghebergement
{
    margin-right: 20px;
}
.titre_hebergement
{
    padding-left: 120px;
}
.afficherplusherbergement
{
    width: auto;
    height: 40px;
}
.recherchefiltretitre
{
    height: auto;
}
.activité
{
    width: auto;
    height: auto;
    flex-direction: column;

}
.activitéimage
{
    width: 98%;
    height: 150px;
}
.carteimage_vieux_parc
{
    width: auto;
    height: 150px;
    margin-bottom: 60px;
}
.activitécarteimage_fort
{
    width: 98%;
    height: 150px;
    margin-bottom: 60px;
}
.activitécarteimage_vieux_parc
{
    width: 98%;
    height: 150px;
    margin-bottom: 60px;
}
.bloc_fort_ile
{
    height: auto;
}
.activitécarteimage_ile
{
    height: 150px;
    margin-bottom: 60px;
}
.activitécarteimage_notre_dame
{
    height: 150px;
    margin-bottom: 60px;
}
.activitécarteimage_longchamp
{
    height: 150px;

}
.bordure_footer
{
    width: 100%;
    height: auto;
}
.footer
{
    flex-direction: column;
    padding-left: 0px;
    width: auto;
    align-items: center;
   
}
.footerliencolonne
{
    align-items: center;
}
}